/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/*style body*/

body{
    background-color: #ebebeb;
    direction: rtl;
}

/*style header*/

.header-container{
    margin-top: 5%;
}
.header-backimage-right{
    height: 320px;
}
.header-backimage{
    background-size: cover;
    width: 100%;
    height: 160px;
    position: absolute; 
    opacity: 1.7;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.8s;
}
.header-backimage:hover{
    opacity: 1;
    background-blend-mode: normal;
}
#header-backimage-right-top{
    background-image: url(./img/marvel-vs-dc.webp);
    right: 0;
}
#header-backimage-right-bottom{
    background-image: url(./img/microsoft-ftc.webp);
    bottom: 0;
    right: 0;
}
#header-backimage-center{
    background-image: url(./img/6356886cv13d.webp);
    right: 0;
    height: 320px;
}
.header-backimage-left{
    height: 320px;
}
#header-backimage-left-top{
    background-image: url(./img/best-sport-anime-slamdunk-sk8-hajime-bluelock.webp);
    top: 0;
    left: 0;
}
#header-backimage-left-bottom{
    background-image: url(./img/you-hurt-my-feelings-beth.webp);
    bottom: 0;
    left: 0;
}
.header-title-orange{
    font-size: 11px;
    background: #ff7830;
    color: #fff;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 1px;
}
#header-h3-right-top{
    position: absolute;
    right: 5%;
    bottom: 27%;
}
#header-h3-right-bottom{
    position: absolute;
    right: 4.5%;
    bottom: 35%;
}
#header-h3-center{
    position: absolute;
    right: 4%;
    bottom: 13%;   
}
#header-h3-left-top{
    position: absolute;
    right: 4%;
    bottom: 34%; 
}
#header-h3-left-bottom{
    position: absolute;
    right: 3.5%;
    bottom: 26%;   
}
.header-title-white{
    font-size: 15px;
    color: #fff;
    position: absolute;
    right: 3.5%;
    bottom: 5%;
    line-height: 23px;
}
#header-h2-right-top{
    position: absolute;
    right: 3.5%;
    bottom: 12%;
}
#header-h2-right-bottom{
    margin-left: 20%;
    text-align: justify;
}
#header-h2-left-top{
    margin-left: 26%;
    text-align: justify; 
}
#header-h2-left-bottom{
    position: absolute;
    right: 3.5%;
    bottom: 12%;
}
.header-span{
    position: absolute;
    left: 7%;
    bottom: 7%;
    color: #fff;
}
#header-span-center{
    position: absolute;
    left: 3%;
    bottom: 3.5%;
    color: #fff;
}

/*end header/*

/*start Media Queries*/

@media screen and (max-width: 768px) {
    #header-backimage-center {
        height: 160px;
        z-index: 1;
    }
    .header-backimage-left {
        margin-top: 20%;
    }    
    #header-h3-center {
        bottom: 24%;
    }
    #header-span-center {
        left: 7%;
    }
    #header-h3-left-top {
        bottom: 22%;
    }
    #header-h3-left-bottom {
        bottom: 28%;
    }
    #header-h3-right-bottom {
        bottom: 22%;
    }
}   
@media screen and (max-width: 468px) {
    #header-h2-left-top {
        margin-left: 0%;
    }
    .header-backimage-left {
        margin-top: 34%;
    }    
}
@media screen and (max-width: 394px) {
    #header-h2-center{
        bottom: 13%;
    }
    #header-h3-center {
        bottom: 28%;
    }
    #header-h2-left-top {
        bottom: 15%;
    }
    #header-h3-left-top {
        bottom: 29%;
    }
    .header-backimage-left {
        margin-top: 40%;
    }
    .header-title-white{
        text-align: justify;
    }
}
@media screen and (max-width: 353px) {
    #header-h3-center {
        bottom: 35%;
    }
    #header-h2-center {
        bottom: 0;
    }
}
@media screen and (max-width: 344px) {
    #header-h3-right-bottom {
        bottom: 33%;
    }
    .header-backimage-left {
        margin-top: 46%;
    }
}
@media screen and (max-width: 342px) {
    #header-h2-left-top {
        bottom: 0%;
    }
}
@media screen and (max-width: 311px) {
    .header-backimage-left {
        margin-top: 51%;
    }
}
@media screen and (max-width: 236px) {
    #header-h2-right-top{
        bottom: 0;
    }
    #header-h3-right-top{
        bottom: 35%;
    }
}
@media screen and (max-width: 219px) {
    #header-h2-left-bottom{
        bottom: 0;
    }
    #header-h3-left-bottom {
        bottom: 35%;
    }
}

/*end Media Queries*/

/*start footer*/

footer{
    margin-top: 5%;
    padding-top: 2%;
    padding-right: 7%;
    background-color: #363636;
    height: auto;
}
.footer-top-h2{
    color: #fff;
    font-size: 18px;
    position: absolute;
}
.footer-right{
    display: flex;
    flex-direction: column;
    margin-top: 18%;
}
.footer-right img{
    width: 93px;
    height: 80px;
}
.footer-right a{
    color: #d9d9d9;
    position: absolute;
}
#footer-a-right-top{
    top: 18%;
    right: 37%;
    text-align: justify;
}
#footer-a-right-center{
    top: 45%;
    right: 37%;
}
#footer-a-right-bottom{
    top: 72%;
    right: 37%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    margin-top: 18%;
}
.footer-left img{
    width: 93px;
    height: 80px;
}
.footer-left a{
    color: #d9d9d9;
    position: absolute;
}
#footer-a-left-top{
    top: 18%;
    right: 57%;
    text-align: justify;
}
#footer-a-left-center{
    top: 45%;
    right: 57%;
}
#footer-a-left-bottom{
    top: 72%;
    right: 57%;
}
.footer-ul-right{
    list-style-type: none;
}
.footer-ul-right{
    text-align: justify;
    margin-top: 16%;
}
.footer-ul-right li{
    padding-top: 2%;
    transition: all 0.1s;
}
.footer-ul-right li:hover{
    cursor: pointer;
    color: #ee2d58;
}
.footer-ul-right li a{
    color: #d9d9d9;
}