/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/*style body*/

body{
    background-color: #ebebeb;
    direction: rtl;
}

/*style header*/

.header-container{
    margin-top: 5%;
}
.header-backimage-right{
    height: 320px;
}
.header-backimage{
    background-size: cover;
    width: 100%;
    height: 160px;
    position: absolute; 
    opacity: 1.7;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.8s;
}
.header-backimage:hover{
    opacity: 1;
    background-blend-mode: normal;
}
#header-backimage-right-top{
    background-image: url(./img/marvel-vs-dc.webp);
    right: 0;
}
#header-backimage-right-bottom{
    background-image: url(./img/microsoft-ftc.webp);
    bottom: 0;
    right: 0;
}
#header-backimage-center{
    background-image: url(./img/6356886cv13d.webp);
    right: 0;
    height: 320px;
}
.header-backimage-left{
    height: 320px;
}
#header-backimage-left-top{
    background-image: url(./img/best-sport-anime-slamdunk-sk8-hajime-bluelock.webp);
    top: 0;
    left: 0;
}
#header-backimage-left-bottom{
    background-image: url(./img/you-hurt-my-feelings-beth.webp);
    bottom: 0;
    left: 0;
}
.header-title-orange{
    font-size: 11px;
    background: #ff7830;
    color: #fff;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 1px;
}
#header-h3-right-top{
    position: absolute;
    right: 5%;
    bottom: 22%;
}
#header-h3-right-bottom{
    position: absolute;
    right: 4.5%;
    bottom: 35%;
}
#header-h3-center{
    position: absolute;
    right: 4%;
    bottom: 13%;   
}
#header-h3-left-top{
    position: absolute;
    right: 4%;
    bottom: 34%; 
}
#header-h3-left-bottom{
    position: absolute;
    right: 3.5%;
    bottom: 20%;   
}
.header-title-white{
    font-size: 15px;
    color: #fff;
    position: absolute;
    right: 3.5%;
    bottom: 5%;
    line-height: 23px;
}
#header-h2-right-bottom{
    margin-left: 20%;
    text-align: justify;
}
#header-h2-left-top{
    margin-left: 26%;
    text-align: justify; 
}
.header-span{
    position: absolute;
    left: 7%;
    bottom: 7%;
    color: #fff;
}