/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/*style body*/

body{
    background-color: #ebebeb;
    direction: rtl;
}

/*style header*/

.header-backimage-right{
    height: 320px;
}
.header-backimage{
    background-size: cover;
    width: 100%;
    height: 160px;
    position: absolute; 
}
#header-backimage-right-top{
    background-image: url(./img/marvel-vs-dc.webp);
    right: 0;
}
#header-backimage-right-bottom{
    background-image: url(./img/microsoft-ftc.webp);
    bottom: 0;
    right: 0;
}
#header-backimage-center{
    background-image: url(./img/6356886cv13d.webp);
    right: 0;
    height: 320px;
}
.header-backimage-left{
    height: 320px;
}